@CHARSET "UTF-8";

	body{
	background-image: url("https://vignette1.wikia.nocookie.net/leagueoflegends/images/7/73/Summoners_Rift_landscape_02.jpg/revision/latest/scale-to-width-down/2000?cb=20170303044632");
	}
	h3
	{
		text-align: center;
	}
	
	input
	{
	
		width: 100px;
		margin-left: 550px;	
		
	}