@CHARSET "EUC-KR";

body{
		
		background:url(' https://pbs.twimg.com/media/DN-H-nRVAAAZ8H6.jpg') no-repeat center center fixed;
	}
	#div
	{
	
		width: 400px;
		margin: auto;	
		margin-top: 400px;
		
	}
	table
	{
		
		background-color: #e1eaea;
		border: 1px solid gray;
		width: 400px;
		margin: auto;	
		
	}
	h1
	{
		text-align: center;
	}
	
	#button
	{
	
		width: 100px;
		margin-left: 110px;	
		
		
		
	}