@CHARSET "UTF-8";
body{
	background-image: url("https://vignette1.wikia.nocookie.net/leagueoflegends/images/7/73/Summoners_Rift_landscape_02.jpg/revision/latest/scale-to-width-down/2000?cb=20170303044632");
	}
#div
	{
	
		width: 430px;
		margin: auto;	
		
	}
	table
	{
		
		background-color: #e1eaea;
		border: 1px solid gray;
		width: 430px;
		margin: auto;	
		
	}
	h2
	{
		text-align: center;
	}
	
	#button
	{
	
		width: 100px;
		margin-left: 300px;	
		
	}
	#title{
		width: 265px;
	}